<!DOCTYPE html>
<html>
<head>
    <style>
        .container {
            font-family: Arial;
            padding: 20px;
            background: #f5f5f5;
        }
        .card {
            background: white;
            padding: 20px;
            border-radius: 10px;
        }
        .header {
            text-align: center;
        }
        .btn {
            background: #4CAF50;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
        }
    </style>
</head>

<body>
<div class="container">
    <div class="card">

        <div class="header">
            <h2>Welcome to Our Platform 🚀</h2>
        </div>

        <p>Hi <b th:text="${name}"></b>,</p>

        <p>Thanks for registering for course:

        <h3 th:text="${courseName}"></h3></p>

        <p>We are excited to have you onboard!</p>

       
		
		To receive instant updates on WhatsApp, click below:

		👉 https://wa.me/14155238886?text=join%20myself-fire

		Just tap send once, and you're all set!

        <br>
		
		Also, you will recieve course zoom link soon. <br><br>
		
		Regards,<br>
		Tank Teachers Portal.<br><br>
		

        <a class="btn" href="https://yourwebsite.com">Go to Dashboard</a>

    </div>
</div>
</body>
</html>